%h1
  %a{:href => "http://projecteuler.net/index.php?section=problems&id=#{@id}"}problem #{@id}
%h2= @problem.title
%p
  Code:
  %br
  %pre= @code
%div#result
  %p Working...
%p
  %a{:href => url('/')} Home
:javascript
  $('#result').load('/solutions/#{@id}', function() {
    $(this).hide().fadeIn();
  });
